li {
  list-style-type: none;
}

i {
  color: var(--color-green-100);
}

.section-1 {
  display: grid;
  gap: 30px;
  margin-top: 30px;
  margin-bottom: 50px;
}

.section-1-content-text {
  font-family: var(--font-2);
  font-size: var(--sub);
}

/* section-1-cards */

.section-1-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
}

[class^="section-1-card-"] {
  display: grid;
  justify-items: center;
  gap: 15px;
  box-shadow: var(--shadow-1);
  border-radius: 8px;
  padding: 40px;
  font-family: var(--font-2);
}

.cost {
  display: flex;
  align-items: center;
  gap: 10px;
}

 .amount {
  font-size: var(--h1);
  font-weight: 700;
}

.month {
  color: var(--color-dark-50);
  font-size: var(--body);
}

.text {
  color: var(--color-dark-75);
}

[class^="section-1-card-"] ul {
  margin-top: 15px;
  margin-bottom: 20px;
  gap: 15px;
}

@media (max-width: 1024px) {
  .section-1-cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .section-1-cards {
    grid-template-columns: repeat(1, 0.8fr);
    justify-content: center;
  }
}

@media (max-width: 568px) {
  .section-1-cards {
    grid-template-columns: repeat(1, 1fr);
  }
}
